{% extends 'index.html' %}
{% block head %}

<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>Your Groups</title>
    <link href="{{ url_for('static', filename='images/icons/facebook.ico')}}" rel="shortcut icon" type="image/x-icon" />
    <link href="{{ url_for('static', filename='css/style.css')}}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/your-groups.css')}}" rel="stylesheet" />

</head>
{% endblock %}


{% block body %}
<div class="left">
    <div class="header1">

        Groups



        <div class="leftbox1">
            <i class="settings-icon"></i>
        </div>
    </div>
    <div class="leftbox2" id="friends-header">
        <div class="leftbox3">
            <div class="leftbox1">
                <i class="settings-icon1"></i>
            </div>

            Discover

        </div>
    </div>
    <div class="leftbox2 activebox" id="suggestions-header">
        <div class="leftbox3">
            <div class="leftbox1 active2">
                <i class="settings-icon1 icon2"></i>
            </div>

            Your Groups

        </div>
    </div>
    <div id="suggestions-header">
        <button class="confirm add-friend" id="create"> <i class="settings-icon plus"></i>Create new

            group</button>
    </div>
</div>
<div class="center" id="friends">
    <div>
        <div class="header2">

            All groups you've joined

        </div>
    </div>
    <div class="centerbox1">
        {% for group in groups %}
        <div class="centerbox2">
            <div class="centerbox4">
                <div class="centerbox3">
                    <img alt="" src="{{url_for('static', filename = 'images/groupicon.jpeg')}}" />
                </div>
                <div class="centerbox5">
                    <span>{{ group.name }}</span>
                    <!-- <span class="mutuals">57K members • 10+ posts a day</span>  -->
                </div>
            </div>
            <div class="centerbox6">
                <button class="confirm add-friend" onclick="viewgroup({{group.id}})">View group</button>
                <div class="modbox5" id="more2">
                    <button class="delete more"><i class="more-icon"></i>
                    </button>
                    {% if group in user.admin_of %}
                    <div class="modbox4" id="leave2" >
                        <div class="leavegroup"><i class="leavegroupIcon"></i> Delete group</div>
                    </div>
                    {% else %}
                    <div class="modbox4" id="leave2">
                        <div class="leavegroup"><i class="leavegroupIcon"></i> Leave group</div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<div class="modal" id="modal2">
    <div class="modal-cont">
        <div class="reg-form">
            <div class="regbox1">
                <img alt="" class="close-icon" id="close-icon2"
                    src="{{url_for('static', filename = 'images/icons/closeIcon.png')}}" />
                <div class="modtext1">Create Group</div>
                <div class="modtext2">Better communication experience.</div>
            </div>
            <form action="{{ url_for('groups')}}" method="post" class="form2">
                <div class="input_2">
                    <input class="type2" id="group" name="group_name" placeholder="Group name" type="text" required />
                    <div class="modbox3">
                        <button class="button1">Create Group</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal" id="modal3">
    <div class="modal-cont">
        <div class="reg-form">
            <div class="regbox1 deletebox">
                <img alt="" class="close-icon" id="close-icon3"
                    src="{{url_for('static', filename = 'images/icons/closeIcon.png')}}" />
                <div class="modtext1">Leave group?</div>
                <div class="modtext2">Are you sure you want to leave this group.</div>
            </div>
            <div class="regbox2">
                <button class="button2">Confirm</button>
                <button class="delete red">Cancel</button>
            </div>
        </div>
    </div>
</div>
{% for message in get_flashed_messages() %}
<div class="flash_msg">
    {{message}}

</div>
{% endfor %}
{% endblock body %}

{% block script %}
<script>



    const create = document.getElementById('create')

    const modal = document.getElementById('modal')

    const more2 = document.getElementById('more2')

    const leave2 = document.getElementById('leave2')

    const modal2 = document.getElementById('modal2')

    const modal3 = document.getElementById('modal3')



    function showmore(item, index, arr1) {

        item.addEventListener('click', () => {

            leaves[index].classList.toggle('show2')

        })



    }

    function showdeletemodal(item, index, arr1) {

        item.addEventListener('click', () => {

            modal3.classList.add('show')

        })



    }



    var mores = document.querySelectorAll("#more2");

    var leaves = document.querySelectorAll("#leave2");

    mores.forEach(showmore)

    leaves.forEach(showdeletemodal)



    const closeIcon = document.getElementById('close-icon')

    const closeIcon2 = document.getElementById('close-icon2')

    const closeIcon3 = document.getElementById('close-icon3')

    create.addEventListener('click', () => {

        modal2.classList.add('show')

    })

    closeIcon2.addEventListener('click', () => {

        modal2.classList.remove('show')

    })

    closeIcon3.addEventListener('click', () => {

        modal3.classList.remove('show')

    })


    const logo = document.getElementById('logo')
    var homeRoute = {{ url_for('index') | tojson }};

    logo.addEventListener('click', () => {
        window.location.href = homeRoute
    })

    const discoverHeader = document.getElementById('friends-header')
    var discovergroupRoute = {{ url_for('discovergroups') | tojson }};

    discoverHeader.addEventListener('click', () => {
        window.location.href = discovergroupRoute
    })

    function viewgroup(id) {
        window.location.href = {{ url_for('group', id = id) | tojson }} + `/${id}`;
        }



    const pic = document.getElementById('pic-button')
    const leave = document.getElementById('leave')
    var logoutRoute = {{ url_for('login') | tojson }};

    pic.addEventListener('click', () => {
        leave.classList.toggle('show3')
    })
    leave.addEventListener('click', () => {
        window.location.href = logoutRoute
    })









</script>


{% endblock script %}